.bv{
    border: 1px solid red;
}
*{
    box-sizing: border-box;
}
body{
    overflow-x:hidden;
}
.header-mobile{
    display: none;
}
.header{
    margin-top: 50px;
    margin-bottom: 40px;
}
.background{
    padding: 0px;
}
.name-brand{
    font-family: 'cabin';
    font-size: 20px;
    padding-left: 15px;
}
.actived{
    color: #07A081;
}
.nav-items{
    font-family: 'Lato';
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.horizol{
    border-top: 1px solid black;
}
.search-bar{
    display: flex;
}
.search-bar > input{
    border: 1px solid #404146;
    border-right: none;
    width: 80%;
    border-radius: 27px 0px 0px 27px;
    padding-left: 15px;
}
.search-bar > input:focus{
    outline: none !important;
}
.search-bar > button{
    border: 1px solid #404146;
    border-left: none;
    background-color: white;
    border-radius: 0px 27px 27px 0px;
    width: 20%;
}
.nav-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-icon img{
    height: 55%;
}
.background{
    background-image: url("../image/background-cover.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.main-content-cover{
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-cover{
    font-size: 60px;
    font-weight: bold;
}
.info-title-cover{
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.button-shopnow{
    width: 30%;
    height: 60px;
    color: white;
    background-color: #07A081;
    border: none;
    border-radius: 13px;
    margin-bottom: 30px;
}
.icon-contact{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon-contact img{
    height: 40px;
}
.dog-img{
    padding: 0;
    margin: 0;
    text-align: right;
    position: relative;
}
/****************** PHẦN BODY CONTENT */
.title-colection-pet{
    font-family: 'Poppins';
    text-align: center;
}
.title-body{
    font-size: 36px;
}
.des-body{
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 30px;
}
.main-collection-pet{
    font-family: 'Poppins';
    margin-bottom: 50px;
}
.collection-pet-card{
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient( to right, #07a0817c, white);
    border-radius: 60px 0px 0px 60px;
}
.collection-pet-card > img{
    padding-left: 10px;
}
.type-name-pet{
    font-size: 22px;
    margin-left: 15px;
}
/* Phần all pet */
.pet-card{
    margin: 30px 0px
}
.img-thumb-pet > img{
    width: 100%;
    margin-bottom: 20px;
    height: 350px;
    border-radius: 11px;
}
.pet-name{
    color: #404146;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.pet-des{
    color: #404146;
    font-family: 'Lato';
    font-size: 18px;
    margin: 10px 0px;
    text-align: center;
}
.price{
    color: #404146;
    font-family: 'Lato';
    font-size: 18px;
    text-align: center;
}
.ori-price{
    margin-left: 6px;
    text-decoration: line-through;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-page{
    margin: 6px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.btn-page > a{
    color: black;
}
.pageLink{
    font-family: 'Lato';
    font-size: 22px;
    margin: 10px;
    color: black;
}
.pageActive{
    color: #07A081;
}
.page-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.actived-page{
    background-color: #D6EBDC;
    border: 1px solid #D6EBDC;
}
/* Phần SUBCRIBE */
.subscribe{
    margin-top: 4%;
    margin-bottom: 4%;
}
.subscribe-contact{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.title-sub{
    font-family: 'Lato';
    font-size: 36px;
    margin-bottom: 25px;
}
.email-sub{
    margin-bottom: 6%;
}
.email-sub > input{
    height: 36px;
    width: 45%;
    margin-left: 1px;
    font-size: 14px;
    border: 1px solid black;
}
.email-sub > input::placeholder{
    padding-left: 12px;
}
.email-sub > button{
    height: 37px;
    width: 50px;
    border: none;
    background-color: #07A081;
}
.contact-sub{
    font-family: 'Lato';
    font-size: 36px;
}
.social-sub{
    text-align: end;
    margin-top: 25%;
}
.social-sub a{
    margin-left: 12px;
}
/* Phần banner */
.sec-banner{
    padding: 0px;
    margin: 0px;
    margin-top: 10%;
}
.banner{
    padding: 0px;
    margin: 0px;
    height: 220px;
    background-color: #07A081;
    position: relative;
}
.imgL-banner{
    position: absolute;
    top: -30px;
    left: 2%;
}
.imgR-banner{
    position: absolute;
    top: -30px;
    right: 2%;
}
.banner-main{
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.banner-des{
    font-family: 'Lato';
    font-size: 34px;
    color: white;
    letter-spacing: 2px;
}
.btn-banner > button {
    height: 50px;
    padding: 0px 50px;
    font-size: 18px;
    color: #545454;
    border: none;
    border-radius: 13px;
    margin-top: 25px;
}
/* Phần hot offer */
.sec-hot-offer{
    margin: 0px;
    padding: 0px;
    margin-top: 5%;
}
.main-offer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-offer > img{
    z-index: 1;
}
.pucci{
    position: absolute;
    right: 54%;
    top: 20%;
}

.mart{
    position: absolute;
    left : 53.5%;
    bottom: 20%;
}
.hot-offer{
    position: absolute;
    top: 10%;
    left: 57%;
}
.rating{
    position: absolute;
    right: 65%;
    bottom: 20%;
}
.price-sale{
    font-family: 'Times New Roman', Times, serif;
    color: #FF3C3C;
    font-size: 36px;
    font-weight: bolder;
}
.price-origin{
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    text-decoration: line-through;
    font-weight: bolder;
    text-align: end;
    color: black;
}
.btn-hot-pet{
    position: absolute;
    bottom: 10%;
    left: 64%;
}
.btn-hot-pet > button {
    border: none;
    background-color: #07A081;
    color: white;
    font-family: 'Poppins';
    height: 40px;
    width: 165px;
    border-radius: 13px;
}
.des-hot-pet{
    font-size: 32px;
    font-family: 'Lato';
}
.hori{
    border-top: 1px solid #252525;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* ADVANTAGE */
.advantage{
    margin-top: 40px;
    margin-bottom: 30px;
}
.advan{
    font-family: 'Nunito';
    font-size: 20px;
    margin-left: 10px;
}
/* FOOTER */
footer.jumbotron{
    margin-bottom: 0px;
    padding-bottom: 30px;
}

.footer-title{
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}
.footer-main{
    font-family: 'Nunito';
    font-size: 20px;
    margin-top: 15px;
}
.cp-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copy-right{
    font-family: 'Nunito';
    font-size: 18px;
    color: #828282;
}
.terms{
    font-family: 'Nunito';
    font-size: 18px;
    color: #828282;
}
/****************** PHẦN TABLET */
@media screen and (max-width: 991px) {
    .header{
        display: none !important;
    }
    .header-mobile{
        display: block;
        margin: 30px;
    }
    .name-brand{
        font-size: 30px;
    }
    .dog-img{
        text-align: center;
    }
    .nav-items{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .background{
        background-size: cover;
        background-position: left;
        padding-bottom: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    .title-cover{
        font-size: 42px;
        text-align: center;
    }
    .info-title-cover{
        text-align: center;
    }
    .button-sn{
        text-align: center;
    }
    .button-shopnow{
        width: 50%;
        height: 70px;
    }
    .img-thumb-pet > img{
        height: 300px;
    }
    .icon-contact{
        width: 35%;
        margin: 0 auto;
    }
    .collection-pet-card{
        margin: 20px 40px;
    }
    .imgL-banner{
        top : -10px
    }
    .imgL-banner > img{
        width: 100%;
        opacity: 0.6;
    }
    .imgR-banner {
        top: 0px
    }
    .imgR-banner > img{
        width: 100%;
        opacity: 0.6;
    }
    .pucci{
        top: 10%;
        right: 50%;
        transform: translate(50%, 0);
    }
    .mart{
        left: 50%;
        transform: translate(-50%, 0);
    }
    .hot-offer{
        display: none;
    }
    .rating{
        left: 10%;
        bottom: -140px;
    }
    .btn-hot-pet{
        right: 10%;
        bottom: -40px;
    }
    .des-hot-pet{
        margin-top: 20%;
    }
    .advan-card{
        text-align: center;
        margin-top: 15px;
    }
    footer.jumbotron{
        margin-bottom: 0px;
        padding-bottom: 30px;
        padding-top: 0px;
    }
    .footer-card{
        margin-top: 50px;
    }
}

/* PHẦN MOBILE */
@media screen and (max-width:767px) {
    .nav-items{
        display: none;
    }
    .title-cover{
        font-size: 30px;
    }
    .info-title-cover{
        font-size: 20px;
    }
    .button-shopnow{
        width: 80%;
        height: 50px;
    }
    .icon-contact{
        width: 100%;
    }
    .collection-pet-card{
        margin: 20px 25px;
    }
    .img-thumb-pet > img{
        height: 350px;
    }
    .title-sub{
        font-size: 30px;
    }
    .email-sub >input{
        margin-top: 5px;
        width: 80%;
    }
    .contact-sub{
        font-size: 20px;
    }
    .banner-des{
        font-size: 30px;
        text-align: center;
    }
    .imgL-banner {
        left: 50%;
        transform: translate(-50%, 0);
        top: -10px
    }
    .imgR-banner {
        display: none;
    }
    .pucci{
        display: none;
    }
    .mart {
        display: none;
    }
    .rating{
        right: 50%;
        transform: translate(50%, 0);
    }
    .btn-hot-pet{
        bottom: -40%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .des-hot-pet{
        text-align: center;
        margin-top: 50%;
        font-size: 24px;
    }
    .footer-main > img{
        width: 50%;
        margin-top: 10px;
    }
    .cp-card{
        justify-content: center;
    }
    .terms{
        display: none;
    }
}